<div id="<%= dom_id ticket %>">
  <p>
    <strong>Ticket Number:</strong>
    <%= ticket.ticket_number %>
  </p>

  <p>
    <strong>Station Code:</strong>
    <%= ticket.station_code %>
  </p>

</div>
