<h1>Editing positive response</h1>

<%= render "form", positive_response: @positive_response %>

<br>

<div>
  <%= link_to "Show this positive response", @positive_response %> |
  <%= link_to "Back to positive responses", positive_responses_path %>
</div>
